 body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-image: url('image12.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        body::before {
            content: "";
            position: fixed;
            inset: 0;
            background: linear-gradient(
                 rgba(0,0,0,0.6),
                 rgba(0,0,0,0.6)
            );
            z-index: -1;
        }
        .custom-navbar {
            background-color: rgba(34, 139, 34, 0.8);
        }
        .custom-navbar .nav-link {
            float: left;
            display: block;
            color: #fff;
            text-align: center;
            padding: 10px 20px;
            text-decoration: none;
        }
        .custom-navbar .nav-link:hover {
            color: #ffd700;
        }
        .custom-navbar .navbar-brand {
            color: #fff;
            font-weight: bold;
        }
        .carousel {
            width: 300px;
            margin-left: 100px;
            margin-top: 30px;
        }
        .carousel-item img {
            width: 800px;
            height: 300px;
            object-fit: fill;
            margin: 0 auto;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }
        .carousel-item {
        transition: transform 3s cubic-bezier(0.8,0,0.2,1);
        }
        .product-card img {
            width: 100%;
            height: 415px;
            object-fit: cover;
        }
        .page-title {
            font-size: 2.5rem;
            font-weight: bold;
            font-family: arial, sans-serif;
            color: #fff;
        }
        .section-heading {
            font-weight: 1.5rem;
            margin-top: 10px;
            font-family: arial, sans-serif;
            color: #fff;
        }
        .card img {
            height: 300px;
            object-fit: cover;
            width: 100%;
        }

        .card-body {
            min-height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .about-us-box {
            padding: 20px;
            background-color: rgba(34, 139, 34, 0.8);
            color: white;
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            border-radius: 8px;
        }
     @media (max-width: 768px) {
        .navbar ul {
            flex-direction: column; /* stack items on small screens */
        }
        .cart-container {
            flex-direction: column; /* cart and summary stacked */
       }
     }


